<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("../_header.ejs") %>
    <h1>Receptionist Dash</h1>

   <!--  Receptionis Dashboard 
     --view all bookings and their status upto one week
     -- view booking payments status
     confirm checkin and checkout
     --view all clients and their details
     -- view all rooms and their status
     --view all spots and their status
   
   -->
</body>
</html>